body,
html {
  margin: 0.5rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;

  --color-1: #569cd5;
  --color-2: #fff395;
  --color-3: #d8a3e1;
  --shadow: #242424;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

header {
  padding-bottom: 1rem;
  text-align: center;
}

header img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

h1 {
  font-size: 1rem;
}

main {
  margin: 0 auto;
  max-width: 650px;
}

.links {
  text-align: center;
}

.links li {
  border-box: padding-box;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  box-shadow: var(--shadow) 3px 3px;
  margin-bottom: 1rem;
  transition: all 0.2s;
  background: url(https://res.cloudinary.com/wannessalome/image/upload/v1652704222/klangstof/pixels_bdyope.png);
  color: white;
}

.links li:hover {
  box-shadow: var(--shadow) 4px 4px;
  transform: translate(-1px, -1px);
}

.links a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  transition: background 0.2s;
}

.links a:hover {
  background: white;
  color: black;
}

.socials {
  display: flex;
  font-size: 1rem;
  gap: 0.5rem;
  justify-content: center;
}

.socials svg {
  width: 1.5rem;
  height: 1.5rem;
}
