body,
html {
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  padding-bottom: 1rem;
  text-align: center;
}

header img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

h1 {
  font-size: 1rem;
}

main {
  margin: 0 auto;
  max-width: 650px;
}

.links {
  text-align: center;
  margin: 0;
  padding: 0;
}

.links li {
  background: pink;
  border: pink 2px solid;
  border-box: padding-box;
  list-style: none;
  margin-bottom: 1rem;
}

.links a {
  color: inherit;
  display: block;
  padding: 1rem;
  text-decoration: none;
  transition: background 0.2s;
}

.links a:hover {
  background: white;
}
