<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="All the latest and greatest" />
    <title>news | klangstof</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <body>
    <header>
      <img
        alt="Klangstof"
        src="/images/avatar.jpg"
      />
      <h1>@klangstof</h1>
    </header>
    <main>
      <ul class="links">
        {% for link in links %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
      </ul>

      <ul class="socials">
        {% for social in socials %}
        <li>
          <a href="{{ social.url }}" title="{{ social.name }}">
            {% FontAwesomeIcon name=social.icon, type="brand" %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
